
@mixin width-box($w:100%,$h:100%){
  width: $w;
  height: $h;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centererPos($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin centerOne($t:50%,$tra:-50%){
  top: $t;
  position: absolute;
  transform: translateY($tra);
}

@mixin centerLeft($t:0,$tl:0,$pos:absolute,$d:true) {
  top: $t;

  @if ($d) {
    left: $tl;
  } @else {
    right : $tl;
  }

  position: $pos;
}

@mixin sizeButton($h:100%,$w:100%,$pos:absolute) {
  position: $pos;
  height: $h;
  width: $w;
}

@mixin sizeBox($w:100%,$h:100%,$d:block) {
  width: $w;
  height: $h;
  display: $d;
}

@mixin sizeContainer($w:100%,$h:100%) {
  width: $w;
  height: $h;
}

@mixin transRotate($deg:0){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin animationTran($time:.25s) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}

@mixin positionTop($t:0,$position: true) {
  top: $t;
  @if ($position) {
    position: absolute;
  }
}

@mixin textDecoretion($decoration:false) {
  @if ($decoration){
    text-decoration: slateblue;
  }
  @else {
    text-decoration: none;
  }
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}