/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$brand-gray-color: #333;
$brand-button-color: #979797;
$color-g-color: #E3E3E3;
$color-light-color: #F5F5F2;
$brand-linka-color: #808080;
$barnd-color-currency: #9c9c9c;
$brand-button-cham: #999999;
$brand-activeLinkLg-color: #F58220;
$brand-activeLinkSm-color: #FFA200;
$brand-activeCheckbox-color: #04AE00;
$brand-positNotA: #74B67A;
$brand-ver2-green-c: #96CC9B;
$brand-legend-color: #80bfca;
$brand-negativePosA: #DE5252;
$brand-negativePos2: #EC7171;
$brand-link-color: #56819F;
$brand-title-name: #6d92ac;
$brand-color-tabs: #80bfca;
$brand-color-pos: #46657b;
$brand-color-white: #FFFFFF;
$brand-bg-color: #dfe6e9;
$back-color: #191919;
$chart-circle-g: #59b66d;
$chart-circle-o: #ff9a38;
$brand-nav-icon: #060606;
$brand-top-bar-hader: #c4c4c4;
$brand-top-padding: #e3e3e3;
$brand-color-text: #a6a6a6;
$brand-hover-table: #f1f3f3;
$brand-border-lineTable: #dadddd;
$brand-banner-link: #a9bfcc;
$brand-color-label: #a6a6a6;
$brand-modal_messages: #F3F3F1;
$brand-triangle-down: #BABABA;
/*Background color fro all*/

$brand-bk-g-c: #f5f5f2;
$brand-space-color: #696969;
$brad-earned-color: #f3f3f3;

/* Font sizes */

$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$fa-font-path:"../node_modules/font-awesome/fonts";

/* Size */
$brand-nav-height : 58px;