@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "variables";

/* Components */

@import "components/buttons";
@import "components/icons";
@import "components/chamburger.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../css/Glyphter.css');
@import url('https://fonts.googleapis.com/css?family=Felipa|Fredericka+the+Great|Marmelad');

html {
  line-height: 1.15;
}

body  {
  font-family: $brand-font;
  margin: 0;
  background-color: $brand-bk-g-c;
}

.pmenu-push {
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.top {
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.nav-horizont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: $brand-color-white;
  position: relative;

  div {
    height: $brand-nav-height;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.glyphicon-one-fine-dot:before {
  content: "\25cf";
}

.wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: auto;
  background-color: $back-color;
  width: 250px;

  h2 {
    font-family: 'Felipa', cursive;
    font-size: 31px;
    color: $brand-color-white;
    align-self: center;
    left: 0;
    position: relative;
    padding: 0 15px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0 30px;
    border-bottom-color: $brand-gray-color;

    li {
      height: 39px;

      &.active {
        border-left: 2px solid $brand-activeLinkLg-color;
        background-color: $brand-gray-color;
        color: $brand-color-white;
      }
    }
  }
}

.components__login {
  flex: 0 0 173px;
  border-left: .5px solid $brand-bk-g-c;
  border-right: .5px solid $brand-bk-g-c;

  i {
    font-size: 22px;
    @include centerLeft(0,5px, relative);
  }

  p {
    margin-left: 12px;
    font-size: 14px;
    white-space: nowrap;
  }
}

.components__bell {
  padding: 0 20px;
  border-left: 1px solid $brand-bk-g-c;
  flex: 0 0 62px;

  i {
    @include centerLeft(20%,13%);
  }

  span:nth-child(2) {
    color: $brand-activeLinkLg-color;
    @include centerLeft(-12px,-12px,relative);
  }
}

.components__quit {
  flex: 0 0 58px;

  .icon-quit {
    left: 12px;
    position: absolute;
    font-size: 23px;
  }
}

.icon__dolar {
  font-style: inherit;
  color: $barnd-color-currency;
  white-space: nowrap;
  left: 32px;
  position: absolute;
}

.components__well {
  font-size: 17px;
  border-left: .5px solid $brand-bk-g-c;
  flex: 0 0 172px;

  .icon-wallet {
    padding-right: 8px;
    padding-left: 2px;
  }
 }

  .icon-notification,
  .icon__quit {
    font-size: 23px;
  }

  .icon-arrow-down-small {
  left: 132px;
  position: absolute;
}

  .site-wrapper,
  .top__links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 250px);
  justify-content: center;
  margin-left: auto;
  margin-top: 15px;
  background-color: $brand-color-white;
}

  .top-bar {
  display: block;
  min-height: 100%;
  z-index: 1;
  width: 100%;
  position: relative;
  margin: 0 auto 3px;

    h4 {
      color: $brand-top-bar-hader;
      text-transform: uppercase;
      padding-top: 15px;
      font-weight: 600;
    }
}

  .form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $brand-top-padding;
  border-bottom: 1px solid $brand-top-padding;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 5px;

    i {
      top: 14px;
      right: 20px;
      position: absolute;
    }
}

.input-field {
  background: transparent;
  border: none transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

  .input-container {
    input[type = 'text'] {
    text-align: center;
    text-indent: -50px;
    max-width: 150px;
    }

  .button {
    margin-top: 0;

    button {
      margin-left: 32px;
      background-color: $brand-activeLinkLg-color;
      overflow: hidden;
      border: none;
      @include sizeContainer(45px,45px);
      border-radius: 5px;
      font-size: 23px;
    }
  }

  .border__item {
    border: 1px solid $brand-top-padding;
    border-radius: 3%;
    position: relative;
    padding: 10px;
  }

   .line {
     &:after {
       content: "";
       border-right: 1px solid $brand-top-padding;
       right: 0;
       position: absolute;
       top: 3px;
       padding: 35px 0 3px;
     }
   }

    .border__item.line {
      border-right: none;
      position: relative;
    }

    .border__item.sec {
      border-left: 0;
    }

    .border__item_sec {
    border: 1px solid $brand-top-padding;
    border-left: 0;
  }
}

  .form div.one, div.sec {
    width: 173px;
  }

  .stat__wrapper {
    display: block;
    width: calc(100% - 170px);
    margin: 0 auto;
  }

  .navigation-menu {
  display: contents;

  li {
    a {
      text-align: center;
      text-decoration: none;
      color: $brand-linka-color;

      &:hover {
        color: $brand-color-white ;
      }
    }

    i {
      padding-right: 14px;
      padding-left: 18px;
      color: $brand-nav-icon;
      font-size: 23px;
      position: relative;
      top: 5px;
    }
  }
}

  .menager-circle-item {
  border-top: 1px solid $brand-gray-color;
  margin-top: 20px;

  h4 {
    text-transform: uppercase;
    text-align: center;
    color: $brand-linka-color;
    left: -27px;
    position: relative;
  }
}

  .manager-container-elem {
    border: 1px solid $brand-gray-color;
    border-radius: 50%;
    padding: 10%;
    position: relative;
    @include sizeContainer(87px,87px);
    margin: 0 32px;
    display: inline-block;
    left: -24px;

      i {
        background: url("https://randomuser.me/api/portraits/men/46.jpg") no-repeat center;
        @include sizeBox(64px,70px);
        background-size: contain;
        border-radius: 50%;
        @include centerLeft(-34px,-13px,relative);
    }
}

   .box {
    color: $brand-color-text;
     width: calc(100% - 40px);
     p {
      display: flex;
      font-size: 17px;
      position: relative;
      justify-content: space-between;

      &::after {
        border-bottom: 1px solid $brand-top-padding;
        padding-bottom: 4px;
        position: absolute;
        content: "";
        top: 21px;
        left: 0;
        width: 100%;
      }

      span {
        color: $brand-space-color;
      }
    }
  }

  .charts {
    width: calc(100% - 174px);
    margin: 29px auto 20px;
}

  .icon-earned-green,
  .icon-circle-orange {
    position: relative;
  }

  .top-bar div.container:nth-child(5) {
    width: calc(100% - 522px);
    margin-bottom: 74px;
}

  .icon-circle-blue,
  .icon-circle-orange {
    background-color: $brad-earned-color;
    border-radius: 4px;
  }

.box-color {
  display: block;
  width: calc(100% - 225px);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

    p {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: calc(100% - 40%);
    }
}

.glyphicon-one-fine-dot {
  top: -4px;
}

.icon-earned-green {
  span {
    &:first-child {
      color: $brand-activeCheckbox-color;
      font-size: 32px;
    }
  }
}

.gl-blue {
  color: $brand-legend-color;
  font-size: 32px;
}

.gl-orange,
.gl__orange {
  font-size: 32px;
  color: $brand-activeLinkLg-color;
}

.chart__img {
  width: 100%;
  max-width: 1280px;
}

.scroll-wrapper {
    display: block;
    width: calc(100% - 1px);
    overflow-x: auto;
    margin: 0 auto 30px;
 }

  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
  }

  .table {
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;

      td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid $brand-border-lineTable;
    }

    span {
      visibility: hidden;

      i {
        color: $paragraph-color;
        padding-left: 21px;
      }
    }
  }

  .icon-ok  span.icon {
    visibility: visible;
  }

  .space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

  .last td {
    border-bottom: 1px solid $brand-border-lineTable;
  }

  .table__hover>tbody>tr:hover {
    background-color: $brand-hover-table;
  }

  .top__links div:first-child {
    h4 {
      font-weight: 200;
      text-transform: uppercase;
      color: $brand-color-text;
    }
  }

  .orange-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;

    button {
    width: 125px;
    height: 40px;
    background-color: $brand-activeLinkLg-color;
    border-radius: 7px;
    border-left: none;
    bordr-right: none;

    &:before {
      content: "+ add new";
      color: #FFF;
      font-size: 21px;
    }
  }
}

.name {
  @include centerLeft(24%,98%,absolute);
  margin-left: 26%;
  white-space: nowrap;
  color: $brand-color-pos;
}

.gl__green {
  color: $brand-activeCheckbox-color;
  top: -34px;
  position: relative;
  left: 28px;
}

  @media(min-width: 767px) {
    @include grid('sm');
  }

  @media(min-width: 768px) {
    @include grid('md');
  }

  @media(min-width: 992px) {
    @include grid('lg');
  }

  @media(max-width: 1200px) {
    @include grid('xl');
  }
