{
  "rules": {
    "quotes": [2,"single"],
    "semi": 2,
    "curly": [2,"multi-line"],
    "array-bracket-spacing": [2,"never"],
    "brace-style": 2,
    "comma-dangle": [2,"always-multiline"],
    "comma-spacing": 2,
    "comma-style": 2


  }
}