
@import "../variables";
@import "../mixins";


.hamburger {
  @include sizeButton(45px,40px,fixed);
  margin: 51px 0 0 12px;
  @include transRotate(0);
  @include animationTran(.5s);
  left: 0;
  z-index: 9999;
  cursor: pointer;
  top: -12px;
}

.hamburger span {
  display: block;
  @include sizeButton(4px,28px);
  background-color: $brand-button-cham;
  opacity: 1;
  left: 0;
  @include transRotate(0);
  @include animationTran();
 }

.hamburger span:nth-child(1) {
  @include positionTop(0);
}

.hamburger span:nth-child(2) {
  @include positionTop(9px);
 }

.hamburger span:nth-child(3) {
  @include positionTop(18px);
}

.hamburger {
   &.open {
     left: 168px;
   }
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}